@tailwind base;
@tailwind components;
@tailwind utilities;

.btnroleb {
    @apply  inline-flex items-center px-2 py-1  text-blue-500 border border-blue-500 rounded-md font-bold text-base uppercase tracking-widest hover:bg-blue-200 focus:bg-blue-300 active:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
}

.btnroler {
    @apply  inline-flex items-center px-2 py-1  text-red-500 border border-red-500 rounded-md font-bold text-base uppercase tracking-widest hover:bg-red-200 focus:bg-red-300 active:bg-red-500 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition ease-in-out duration-150;
}
